.user {
  display: flex;
  padding: 18px 29px;
  transition: 0.3s ease;
}
.user:hover {
  background-color: #efeff6;
}
.user_image {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  margin-right: 10px;
}
.user_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.user_info_header {
  display: flex;
  align-items: center;
  margin-bottom: 9px;
}

.user_info_header span {
  margin-left: 10px;
  line-height: 0.9;
  color: #9494a0;
  font-size: 18px;
}
.user_info_header h3 {
  color: #424f5e;
  font-size: 18px;
  font-weight: 600;
}
.menu_btn {
  margin-left: auto;
}
.user_info {
  width: 100%;
}
.menu_btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
  margin-bottom: 4px;
}
.permission_items {
  display: flex;
}
.permission_item {
  border-radius: 10px;
  border: 1px solid #c1c1cb;
  padding: 6px 10px;
  color: #9494a0;
  margin-right: 5px;
}
.admin {
  border: 1px solid #5a57ff;
  color: #5a57ff;
}
