@import url("https://fonts.cdnfonts.com/css/futura-pt");
* {
  margin: 0;
  padding: 0;
  line-height: 1;
}
body {
  background: #ebebf0;
  font-family: "Futura pt";
}
.wrapper {
  display: flex;
  justify-content: space-between;
}
.page-container {
  display: flex;
  justify-content: center;
  padding-top: 53px;
  width: calc(100%);
  align-self: start;
}
.navbar {
  flex-shrink: 0;
  width: 100px;
  background-color: aqua;
  min-height: 100vh;
}
.page-content {
  width: 1135px;
  border-radius: 15px;
  background: #f9fafb;
}
iframe {
  width: 0 !important;
  height: 0;
}
